body, footer {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(135deg, #0F103F 0%, #2F2F8A 100%);
    text-align: center;
    color: white;
    min-height: 100vh;
  }

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: calc(10px + 2vmin);
    color: white;
    min-height: 10vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: calc(10px + 2vmin);
    color: white;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: white;
    padding: 1.5vmin 10vmin;
    height: 10vh;
    flex-shrink: 0;
    background: var(--Cor2, #1C1C65);
    min-height: 10vh;

}
.topMenu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.topMenu a{
  margin-right: 15vmin;
  text-decoration: none;
}
.topMenu a:hover{
  border-bottom: 2px solid #AAAEB9;
  border-radius: 0%;
  width: 100%;
}
.topmenu-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50px; /* Largura do botão */
  height: 50px; /* Altura do botão */
  border-radius: 50%; /* Botão circular */
  margin: 10px; /* Espaçamento entre os botões */
  background-color: transparent;
  border: none;
  cursor: pointer; /* Altera o cursor ao passar o mouse */

}


.topmenu-button p {
  padding: 10px;
  color: #AAAEB9;
}

  .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: auto; /* Em vez de um valor fixo, permitimos que a altura do menu seja ajustada automaticamente */
    padding: 0 0.25rem;
    border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 5px 5px 5px 0px;
    z-index: 999;
    background-color: #1A1B47;
    transition: padding 300ms ease;
  }
  
  .menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Largura do botão */
    height: 50px; /* Altura do botão */
    border-radius: 50%; /* Botão circular */
    margin: 10px; /* Espaçamento entre os botões */
    background-color: transparent;
    border: none;
  }
  
  .menu-button img {
    width: 30px; /* Tamanho do ícone */
    height: 30px; /* Tamanho do ícone */
  }
  
  
  .menu-button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Cor de fundo ao passar o mouse */
    cursor: pointer; /* Altera o cursor ao passar o mouse */
  }

  .profile{
    display: flex;
    width: 70vmin;
    height: 70vmin;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vmin;
    margin-top: 5vmin;
    margin-bottom: 5rem;
  
    border-radius: 50%;
    background: linear-gradient(144deg, #C961DE 13.74%, #2954A3 90.91%);
  
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 2;
  }
  .ring {
    position: absolute;
    top: calc(50% + 175px);  
    left: calc(50% - 425px);  
    width: 850px;  
    height: 275px;  
    border: 1px solid #C961DE;  
    border-radius: 50%;  
    z-index: -1;
    animation: rotateRing 5s infinite alternate; 
  }
  .ring2 {
    position: absolute;
    top: calc(50% + 170px);  
    left: calc(50% - 425px);  
    width: 850px;  
    height: 275px;  
    border: 1px solid #C961DE;  
    border-radius: 50%;  
    z-index: -1;
    animation: rotateRing2 5s infinite alternate; 

  }
  .ring3 {
    position: absolute;
    top: calc(50% + 172px);  
    left: calc(50% - 425px);  
    width: 850px;  
    height: 275px;  
    border: 1px solid #C961DE;  
    border-radius: 50%;  
    animation: rotateRing3 5s infinite alternate; 
    z-index: -1;
  }
  @keyframes rotateRing {
    0% {
      transform: rotate(3deg); /* Começa com -3 graus */
    }
    100% {
      transform: rotate(-3deg); /* Termina com 3 graus */
    }
  }
  @keyframes rotateRing2 {
    0% {
      transform: rotate(-1.5deg); /* Começa com -3 graus */
    }
    100% {
      transform: rotate(2.5deg); /* Termina com 3 graus */
    }
  }
  @keyframes rotateRing3 {
    0% {
      transform: rotate(-6deg); /* Começa com -3 graus */
    }
    100% {
      transform: rotate(6deg); /* Termina com 3 graus */
    }
  }

  .title{
    margin-top: 4rem;

  }

  .techs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
  }
  
  /* Estilos para as colunas */
  .techs-column {
    flex: 1;
    margin: 10px;
  }

  .cardTech {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 22px;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    width: 100%;
    min-width: 400px;
    min-height: 200px;
    background: linear-gradient(102deg, #D561DE 17.09%, #2954A3 79.98%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  /* Estilos para o título do projeto */
  .cardTech h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
  }
  

  
  /* Estilos responsivos para telas menores que 600px */
  @media only screen and (max-width: 600px) {
    .cardTech {
      width: 100%;
    }
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
  }
  .projects-column {
    flex: 1;
    margin: 10px;
  }

  .cardProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 22px;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
    background: linear-gradient(102deg, #D561DE 17.09%, #2954A3 79.98%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    min-width: 750px;
    min-height: 300px;
  }
  
  /* Estilos para o título do projeto */
  .cardProjects h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
  }
  
  /* Estilos para a descrição do projeto */
  .cardProjects p {
    margin: 10px 0;
    font-size: 1.5rem;
  }
  
  /* Estilos para o botão */
  .cardProjects button {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(0, 0, 0, 0.10);
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.60), 0px 2px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.04);
    border-radius: 80px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  /* Estilos responsivos para telas menores que 600px */
  @media only screen and (max-width: 600px) {
    .cardProjects {
      width: 100%;
    }
  }

  @media only screen and (max-width: 600px) {
    .projects-column {
      flex: 1 0 100%; /* Isso faz com que as colunas ocupem 100% da largura em telas menores que 600px */
      justify-content: center;
    }
    .techs-column {
      flex: 1 0 100%; /* Isso faz com que as colunas ocupem 100% da largura em telas menores que 600px */
      justify-content: center;
    }
  }


  .cardContact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  
  }
  
  .cardLeftSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin: 0%;
    width: 50%;
  }
  .cardLeftSide a:hover{
    border-bottom: 2px solid #AAAEB9;
    border-radius: 0%;
    width: 100%;
  }
  
  .cardRightSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin: 5vmin;
    
  }
  .cardRightSide input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #6C6CA9;
    color: white;
    box-sizing: border-box; 
    min-width: 200px;
  }
  .cardRightSide textarea{
    min-width: 100px;
    min-height: 150px;
  }
  .cardRightSide input::placeholder, textarea::placeholder{
    color: white;
  }
  .cardRightSide button{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(0, 0, 0, 0.10);
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.60), 0px 2px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.04);
    border-radius: 80px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
    margin-top: 10rem;
  }
  .contact-me{
    width: 1200px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #FFF;
  
    background: rgba(47, 47, 138, 0.60);
  
    backdrop-filter: blur(10px);
  }

  .appFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 89.9%;  
    height: 5vh;  
  
  }
  
  .myFooterRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .myFooterRow a{
    margin-right: 10vmin;
    text-decoration: none;
  }
  .myFooterRow a:hover{
    border-bottom: 2px solid #AAAEB9;
    border-radius: 0%;
    width: 100%;
  }
  .footer-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50px; /* Largura do botão */
    height: 50px; /* Altura do botão */
    border-radius: 50%; /* Botão circular */
    margin: 10px; /* Espaçamento entre os botões */
    background-color: transparent;
    border: none;
    cursor: pointer; /* Altera o cursor ao passar o mouse */

  }
  
  .footer-button img {
    width: 30px; /* Tamanho do ícone */
    height: 30px; /* Tamanho do ícone */
  }

  .footer-button p {
    padding: 10px;
    color: #AAAEB9;
  }
  
  
/* Para navegadores WebKit (como Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background-color: #4d4fb9; /* cor de fundo da trilha */
}

::-webkit-scrollbar-thumb {
  background-color: #2F2F8A; /* cor do polegar da barra de rolagem */
  border-radius: 5px; /* borda arredondada do polegar */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0F103F; /* cor do polegar da barra de rolagem ao passar o mouse */
}
