body, footer {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(135deg, #0F103F 50%, #2F2F8A 100%);
    text-align: center;  
    color: white;
    min-height: 100vh;
    min-width: 100vh;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: cal(10px + 2vmin);
    color: white;
    /* min-height: 10vh;   vamos observar se é necessário */
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4.2vmin;
    /* color: white;  acredito não ser necessário, vamos deixar comentado */
}

.topMenu{
    display: flex;
    /* flex-direction: row; não é necessário por ser o padrão */
    /* align-items: center; não vi mudanças, vamos deixar comentado */
    /* justify-content: center; também não vi mudanças */
}

.topMenu a{
    margin: 0 5vmin;
    text-decoration: none;
}

.topMenu a:hover{
    border-bottom: 2px solid #AAAEB9;
}

.topMenu p{
    margin-bottom: 0.2vmin;
    padding: 1vmin;
    color: #AAAEB9;
}

.menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 1vmin;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 1vmin;
    background-color: #1A1B47;
    box-shadow: rgba(100, 100, 111, 0.2) 5px 5px 5px 0px;
    border-radius: 1vmin;
    transition: padding 300ms ease;
    z-index: 999;
}
.menu-button{
    width: 5vmin;
    height: 5vmin;
    border-radius: 50%;
    margin: 1vmin;
    /* background-color: transparent; acredito que não muda nada, porque o png tem fundo transparente já */
    /* border: none; também não muda nada, mesmo caso do background */
    padding: 0.5vmin;
}


.menu-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu img{
    width: 4vmin;
    height: 4vmin;
}


@media (max-width: 1582px) {
    .menu{
        flex-direction: row;
        left: 50%;
        transform: translateX(-50%);
        top: 95%;
        transform: translateY((-89%));
    }
}


.profile{
    position: relative;
    display: flex;
    flex-direction: column;
    background: linear-gradient(144deg, #C961DE 13.75%, #2954A3 90.90%);
    border-radius: 50%;
    width: 70vmin;
    height: 70vmin;
    padding: 10vmin; 
    justify-content: center;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
    /* align-items: center; acho que não mudou nada */
    margin-top: 3.5vmin;
}


.ring, .ring2, .ring3{
    position: absolute;
    width: 90vmin; /* acredito que vou ter que mudar para se tornar responsivo */
    height: 32.5vmin; /* acredito que vou ter que mudar para se tornar responsivo */
    border: 0.1vmin solid #C961DE;
    border-radius: 50%;
    z-index: -1; /*Vamos ver se precisa*/
    top: calc(50% + 17.5vmin);  
    left: calc(50% - 45vmin); 
}
.ring{
    animation: rotateRing 5s infinite alternate; 

}
.ring2{
    animation: rotateRing2 5s infinite alternate; 

}
.ring3{ 
    animation: rotateRing3 5s infinite alternate; 

}
@keyframes rotateRing {
    0% {
      transform: rotate(3deg); /* Começa com -3 graus */
    }
    100% {
      transform: rotate(-3deg); /* Termina com 3 graus */
    }
  }
  @keyframes rotateRing2 {
    0% {
      transform: rotate(-1.5deg); /* Começa com -3 graus */
    }
    100% {
      transform: rotate(2.5deg); /* Termina com 3 graus */
    }
  }
  @keyframes rotateRing3 {
    0% {
      transform: rotate(-6deg); /* Começa com -3 graus */
    }
    100% {
      transform: rotate(6deg); /* Termina com 3 graus */
    }
  }
  
#techs{
    margin-top: 10vmin;
    /* height: 100vh; */
}
.title{
    margin-top: 5vmin;
}

.techs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.techs-column{
    flex: 1;
    margin: 1vmin;
}

.cardTech{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(102deg, #D561DE 17.09%, #2954A3 79.98%); 
    border-radius: 2.2vmin;
    padding: 1.5vmin;
    margin: 1vmin;
    box-sizing: border-box; 
    width: 40vmin;
    height: 22vmin;
    min-width: 50vmin;
    box-shadow: 0px 4px 4px 3px rgba(0,0,0,0.25);
}

.cardTech h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
  }

  .cardTech img{
    width: 10vmin;
    height: 10vmin;
  }


  @media (max-width: 646px) {
    .techs {

        flex-direction: column;
    }
}
@media (max-width: 940px) and (max-height: 870px) {
    .techs {

        flex-direction: column;
    }
}

#projects{
    margin-top: 10vmin;
    /* height: 100vh; */
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.projects-column{
    flex: 1;
    margin: 1vmin;
}

.cardProjects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(102deg, #D561DE 17.09%, #2954A3 79.98%);
    box-shadow: 0px 4px 4px 3px rgba(0,0,0,0.25);
    border-radius: 2.2vmin;
    padding: 1.5vmin;
    margin: 1vmin;
    box-sizing: border-box; 
    width: 90vmin;
    height: 32vmin;

}


.cardProjects h3 {
    margin: 0;
    padding: 0;
    font-size: 4vmin;
  }

  .cardProjects p {
    margin: 10px 0;
    font-size: 3vmin;
  }

/* REVISAR RESPONSIVIDADE */
  .cardProjects button {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(0, 0, 0, 0.10);
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.60), 0px 2px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.04);
    border-radius: 80px;
    border: none;
    color: white;
    padding: 2vmin 4vmin;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vmin;
    margin: 4px 2px;
    cursor: pointer;
    width: 20vmin;
    height: 6vmin;
  }

  @media (max-width: 1070px) {
    .projects {

        flex-direction: column;
    }
    .cardProjects{
        height: 45vmin;
    }
}
@media (max-width: 1634px) or (max-height: 870){
    .projects {

        flex-direction: column;
    }
    .cardProjects{
        height: 45vmin;
    }
}

/* REVISAR RESPONSIVIDADE */
#contact{
    margin-top: 10vmin;
    height: 100vh;
}

 /* REVISAR RESPONSIVIDADE */
 .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15vmin;
  }
  .contact-me{
    width: 120vmin;
    height: 60vmin;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #FFF;
  
    background: rgba(47, 47, 138, 0.60);
  
    backdrop-filter: blur(10px);
  }

.cardContact{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vmin;
    height: 100%;
}


.cardLeftSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin: 0;
    width: 50vh;
}

.cardLeftSide a:hover{
    border-bottom: 2px solid #AAAEB9;
}

.cardRightSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 50vh;
}

.cardRightSide input, textarea{
    width: 80%;
    padding: 1vmin;
    margin-bottom: 1vmin;
    border: 1px solid #ccc;
    border-radius: 0.5vmin;
    background-color: #6C6CA9;
    color: white;
    box-sizing: border-box;
    font-size: 2vmin;
    resize: none;
}

.cardRightSide textarea{
    min-width: 10vmin;
    min-height: 15vmin;
  }

.cardRightSide input::placeholder, textarea::placeholder{
    color: white;
    font-size: 2vmin;
  }


/* REVISAR RESPONSIVIDADE */
  .cardRightSide button{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(0, 0, 0, 0.10);
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.60), 0px 2px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.04);
    border-radius: 80px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }


  /* Para navegadores WebKit (como Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px; /* largura da barra de rolagem */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #4d4fb9; /* cor de fundo da trilha */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #2F2F8A; /* cor do polegar da barra de rolagem */
    border-radius: 5px; /* borda arredondada do polegar */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #0F103F; /* cor do polegar da barra de rolagem ao passar o mouse */
  }


  @media screen and (max-width: 712px) {
    .topMenu{
        display: none;
    }
  }


  @media screen and (max-width: 1080px) {
    .cardContact{
        flex-direction: column;
    }
    .contact-me{
        width: 60vmin;
        height: 120vmin;
    }
  }