.Card-tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 22px;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  background: linear-gradient(102deg, #D561DE 17.09%, #2954A3 79.98%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Estilos para o título do projeto */
.Card-tech h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

/* Estilos para a descrição do projeto */
.Card-tech p {
  margin: 10px 0;
}

/* Estilos responsivos para telas menores que 600px */
@media only screen and (max-width: 600px) {
  .Card-tech {
    width: 100%;
  }
}
