/* .App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  width: 20vmin;
  padding: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}
p, a{
  width: 20vmin;
  padding: 5vmin;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.App{
  background: linear-gradient(135deg, #0F103F 0%, #2F2F8A 100%);
  text-align: center;
  color: white;
}
.App-header {
  min-height: 6vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body{
  min-height: 6vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer{
  min-height: 6vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10vmin;
}
/* 
.projetos{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 50vmin;
  height: 25vmin;
  gap: 5vmin;
} */
.Techs{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: top;
}

.Techs-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  margin: 5vmin;
}
.Techs-column div{
  margin: 2vmin;
  border-radius: 30px;
}

.Projects{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: top;
}

.Projects-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  margin: 5vmin;
}
.Projects-column div{
  margin: 2vmin;
  border-radius: 30px;
}

.contact-me{
  width: 900px;
  height: 600px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid #FFF;

  background: rgba(47, 47, 138, 0.60);

  backdrop-filter: blur(10px);
}